In [ ]:
#Connecting Pandas to MySQL

In [11]:
import pandas as pd
import pymysql

# Database connection
myconnection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='12345678',
    database='Redbus_Project'
)

# Read and clean CSV data
df = pd.read_csv("combined_csv_file_with_id.csv")
df = df.dropna()  # Drop rows with null values

# Convert pandas dtypes to MySQL types
dtype_mapping = {
    'float64': 'FLOAT',
    'object': 'TEXT',
    'int64': 'INT'
}
column_definitions = ", ".join(
    f"{col} {dtype_mapping[str(dtype)]}" 
    for col, dtype in zip(df.columns, df.dtypes)
)

# Table name
table_name = "Busroutes"

# Create table if it does not exist
with myconnection.cursor() as cursor:
    cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({column_definitions})")

# Insert data into table
insert_query = f"INSERT INTO {table_name} ({', '.join(df.columns)}) VALUES ({', '.join(['%s'] * len(df.columns))})"
with myconnection.cursor() as cursor:
    cursor.executemany(insert_query, df.values.tolist())
    myconnection.commit()

# Close the connection
myconnection.close()

print("Data inserted successfully")

Data inserted successfully

In [14]:
result=pd.read_csv("combined_csv_file_with_id.csv")
result

,ID,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 9356,Super Luxury (Non AC Seater 2+2 Push Back),11:30,06h 35m,18:05,4.0,INR 469,31 Seats available
1,2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30,05h 00m,16:30,3.7,INR 670,44 Seats available
2,3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 35269,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),12:15,06h 10m,18:25,3.7,INR 720,24 Seats available
3,4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3601,Super Luxury (Non AC Seater 2+2 Push Back),12:30,08h 05m,20:35,2.5,INR 469,31 Seats available
4,5,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3515,Super Luxury (Non AC Seater 2+2 Push Back),13:00,08h 00m,21:00,2.0,INR 469,31 Seats available
...,...,...,...,...,...,...,...,...,...,...,...
7963,7964,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Maharani Travels,A/C Seater / Sleeper (2+1),21:05,04h 55m,02:00,3.2,760,24 Seats available
7964,7965,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Tulsi Travel,NON A/C Seater / Sleeper (2+2),14:45,02h 05m,16:50,0.0,INR 899,61 Seats available
7965,7966,Barasat (West Bengal) to Nimtouri,https://www.redbus.in/bus-tickets/barasat-west...,SBSTC-BARASAT - DIGHA - VIA - NIBEDITA SETU - ...,Non AC Seater (2+3),11:15,12h 45m,00:00,3.6,INR 93,40 Seats available
7966,7967,Habra to Kolaghat,https://www.redbus.in/bus-tickets/habra-to-kol...,WBTC (CTC) HABRA-DIGHA via Bally - 26|12:45,Non AC Seater (2+3),12:45,02h 55m,15:40,3.8,INR 87,42 Seats available
7967,7968,Habra to Contai (Kanthi),https://www.redbus.in/bus-tickets/habra-to-con...,WBTC (CTC) HABRA-DIGHA via Bally - 26|12:45,Non AC Seater (2+3),12:45,04h 25m,17:10,3.6,INR 149,42 Seats available